.w-25 label {
  width: 100%;
}
// .feedbackForm {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }
.feedbackForm > div {
  max-width: 700px;
  margin: 0 auto;
}
.feedbackForm label {
  width: 100%;
}
td form label {
  width: 100%;
  height: 30px;
  background: #e4e4e4;
  margin: 5px;
  border-radius: 5px;
}
td form label input {
  margin-top: 9px;
}
.feedback-txt {
  background: #e4e4e4;
}
th img {
  width: 63px;
}
tr td form {
  display: flex;
  width: 200px;
}
.first-col {
  width: 220px;
}
.table > :not(:first-child) {
  border-top: 2px solid #dee2e6 !important;
}
label input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.table thead th,
.table thead th {
  border-bottom: none !important;
}
.table thead th {
  border-top: none !important;
}
